<form action="/process" method="POST">
<p>Escolha a loja:</p>
  <input type="radio" id="Continente" name="loja" value="Continente" checked>
  <label for="Continente">Continente</label><br>
  <input type="radio" id="Pingo Doce" name="loja" value="Pingo Doce">
  <label for="Pingo Doce">Pingo Doce</label><br>
  <input type="radio" id="Auchan" name="loja" value="Auchan">
  <label for="Auchan">Auchan</label>
  <br></br>
  <label for="pesquisa">Termo a pesquisar: </label>
  <input type="text" id="pesquisa" name="pesquisa">
  <input type="submit" value="Submit">
</form>
  